<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ant in Loop</title>
  <link rel="icon" href="https://antinloop.com/logo.ico" type="image/x-icon">
</head>
<body>
  <header>
    <h1>Welcome to Ant in Loop</h1>
    <p class="subtitle">Master algorithms through tutorials.</p>
  </header>
  <iframe
    width="100%"
    height="900"
    src="https://www.jdoodle.com/online-compiler-c++17"
    frameborder="0"
    allowfullscreen
  ></iframe>
</body>
</html>
